@model StolenCar
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Stolen car</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StatementDate" class="control-label">Date of writting statement</label>
                <input asp-for="StatementDate" type="date" class="form-control" />
                <span asp-validation-for="StatementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceType" class="control-label">Insurance type</label>
                <input asp-for="InsuranceType" class="form-control" />
                <span asp-validation-for="InsuranceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Circumstances" class="control-label"></label>
                <input asp-for="Circumstances" class="form-control" />
                <span asp-validation-for="Circumstances" class="text-danger"></span>
            </div>
            <div class="form-group">
                  Mark about finding  <input class="form-check-input" asp-for="MarkAboutFinding" />
            </div>
            <div class="form-group">
                <label asp-for="TheftDate" class="control-label">Theft date</label>
                <input asp-for="TheftDate" type="date" class="form-control" />
                <span asp-validation-for="TheftDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectorId" class="control-label">Inspector</label>
                <select asp-for="InspectorId" class="form-control" asp-items="ViewBag.InspectorId"></select>
                <span asp-validation-for="InspectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.RegistrationNumber" class="control-label">Car's registration number</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
