@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
<h2>Here we can see all roles</h2>
<table class="table table-striped">
    <tr class="bg-success">
        <th class="text-white">Role</th>
        <th class="text-white">Operations</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<hr />
<a class="btn btn-primary" asp-action="Create">Add role</a>